bin
*.launch
.settings
.metadata
.classpath
.project
.opencode
.vscode

# idea
out
*.ipr
*.iws
*.iml
.idea

build
.gradle

# other
eclipse
CREDITS.txt
changelog.txt
forge*changelog.txt
context.md
run
log.txt
p.md
